@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

:root {
  --primary-light: #fff;
  --secondary-light: #ededed;
  --primary-color: #0369a1;
  --secondary-color: #818cf8;
  --primary-dark: #000;
  --footer-height: 30px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fuzzy Bubbles', cursive;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
footer {
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  color: var(--primary-light)
}

header {
  padding: 20px;
  font-size: 1.5rem;
}

.books-container {
  flex: 1;
}

.button-add {
  position: fixed;
  bottom: 80px;
  right: 60px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: var(--primary-color);
  color: var(--primary-light);
  font-size: 1.5rem;
}

footer {
  padding: 10px 0;
}

footer a {
  color: var(--primary-light);
}

/* Utilities */
button.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.8);
}